<%= @gallery.name %>

<div id="paintings">
 
	<div class="carousel-container" >
		
		<div id="carousel" >
			
			 <% for painting in @gallery.paintings %>
			
				<div class="carousel-feature">
					  <%= link_to (image_tag painting.image_url.to_s , :width=>450 , :height => 250 ,:class=>"carousel-image") %>
					  <div class="name"><%= painting.name %></div>
					  <div class="actions">
						<%= link_to "edit", edit_painting_path(painting) %> |
						<%= link_to "remove", painting, :confirm => 'Are you sure?', :method => :delete %>
					  </div>
				</div>
			<% end %>
		
		</div>
		 
		<div id="carousel-left"><%= image_tag "arrow-left.png" %></div>
	  	<div id="carousel-right"><%= image_tag "arrow-right.png" %></div>
		
	</div>
 
  <div class="clear"></div>
</div>

<p>
  <%= link_to "Add a Painting", new_painting_path(:gallery_id => @gallery) %> |
  <%= link_to "Remove Gallery", @gallery, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View Galleries", galleries_path %>
</p>
